

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn-link:hover {
	text-decoration: none;
}

.size {
	width: 10em;
	height: 10em;
}

h1 {
	font-family:Helvetica;
}
h2 {
	font-family:Verdana;
}
p {
	font-family:Georgia;
}
